@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'Satoshi-Light';
  src: url('../fonts/Satoshi-Light.woff2') format('woff2'),
    url('../fonts/Satoshi-Light.woff') format('woff'),
    url('../fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
    url('../fonts/Satoshi-Regular.woff') format('woff'),
    url('../fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('../fonts/Chillax-Regular.woff2') format('woff2'),
    url('../fonts/Chillax-Regular.woff') format('woff'),
    url('../fonts/Chillax-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply max-w-[1920px] m-auto bg-cod-gray text-t-light font-satoshi-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-chillax uppercase;
}

p {
  @apply lg:text-[18px] xl:text-[20px] 2xl:text-[22px];
}

main {
  min-height: 80vh;
}

.menu__bar {
  @apply h-[1px] bg-t-light w-full group-hover:bg-cod-gray  transition-all;
}

div {
  @apply rounded-lg;
}

.post-content h2 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

.post-content h3 {
  @apply text-xl md:text-2xl lg:text-3xl;
}

.post-content h4 {
  @apply text-lg md:text-xl lg:text-2xl;
}

.post-content p {
  @apply text-t-gray m-4;
}
